.root{
    -fx-background-color: #333333;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #c3bbb3;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-background-radius: 20;
    -fx-padding: 5;
}


.text-field{
    -fx-background-color: #c3bbb3;
    -fx-padding: 5;
}

.button:hover{
    -fx-background-color: #a9adaa;
}

.button:pressed{
    -fx-background-color: #99988f;
}

.chart-plot-background {
    -fx-background-color: #333333;
}


.scroll-pane {
    -fx-background-color: #333333;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #c7c4c1;
    -fx-background-radius: 5;
}

.scroll-pane > .corner {
    -fx-background-color: #333333;
}
#scrollPane{
    -fx-background-color: #333333;
}
